-#Copyright Alexander E. Fischer <aef@raxys.net>, 2011
-#
-# This file is part of Lilith.
-#
-# Lilith is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# Lilith is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with Lilith.  If not, see <http://www.gnu.org/licenses/>.
.study_unit{:id => study_unit.id}
  %h3
    %a{:id => study_unit.name.gsub(/ /, '+')}~ study_unit.name
  %a{:href => "##{body_id}"}~ "⇧ #{t('schedules.back_to_top')}"
  %ul.courses
    - study_unit.courses.order('name ASC').each do |course|
      %li
        %input{:type => :checkbox, :name => 'course_ids[]', :value => course.id}
        = course.name
        %ul.groups
          - course.groups.order('name ASC').each do |group|
            %li
              %input{:type => :checkbox, :name => 'group_ids[]', :value => group.id}
              = "#{t('schedules.group')} #{group.name}"