-#Copyright Alexander E. Fischer <aef@raxys.net>, 2011
-#
-# This file is part of Lilith.
-#
-# Lilith is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# Lilith is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with Lilith.  If not, see <http://www.gnu.org/licenses/>.
%h1
  = @study_unit.name

%form{:action => schedules_path}
  %p
    %label{:for => 'schedule_id'} Stand:
    %select{:name => 'schedule_id'}
      = options_from_collection_for_select @study_unit.schedules.order('created_at DESC'), :id, :created_at
  %p
    %label{:for => 'format'} Format:
    %select{:name => 'format'}
      %option{:value => 'ical'} iCalendar
      %option{:value => 'xml'} XML
  = submit_tag 'Generate schedule', :name => nil
  .courses
    %h2 Courses
    %ul
      - @study_unit.courses.order('name ASC').each do |course|
        %li
          = check_box_tag 'course_ids[]', course.id
          = course.name
          %ul.groups
            - course.groups.order('name ASC').each do |group|
              %li
                = check_box_tag 'group_ids[]', group.id
                Group
                = group.name
 