-# encoding: UTF-8
-#
-# Copyright Alexander E. Fischer <aef@raxys.net>, 2011
-#
-# This file is part of Lilith.
-#
-# Lilith is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# Lilith is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with Lilith.  If not, see <http://www.gnu.org/licenses/>.
- set_body_id :people
%h2= t('person.heading')
- if @people_matchless
  %table.matchless
    %caption= t('person.matchless')
    %thead
      %tr
        %th.title= t('person.title')
        %th.forename= t('person.forename')
        %th.middlename= t('person.middlename')
        %th.surname= t('person.surname')
        %th.eva_id= t('person.eva_id')
        %th.actions= t('person.actions')

    %tbody.matchless
      - @people_matchless.each do |person|
        = render :partial => 'people/person_for_table', :locals => {:person => person, :alternation_class => cycle('odd', 'even', :name => :matchless)}
      %tr
        %td.count{:colspan => 6}= @people_matchless.count

%table.matched
  %caption= t('person.matched')
  %thead
    %tr
      %th.forename= t('person.forename')
      %th.middlename= t('person.middlename')
      %th.surname= t('person.surname')
      %th.title= t('person.title')
      %th.eva_id= t('person.eva_id')
      %th.actions= t('person.actions')

  %tbody.matched
    - if @people_matched
      - @people_matched.each do |person|
        = render :partial => 'people/person_for_table', :locals => {:person => person, :alternation_class => cycle('odd', 'even', :name => :matched)}
      %tr
        %td.count{:colspan => 6}= @people_matched.count
    - else
      %tr
        %td{:colspan => 6}= t('person.no_people')


