%tr{:id => article.id, :class => alternation_class}
  %td.name
    %a{:href => article_path(article)}= article.name
  %td.sticky
    - if article.sticky?
      = t('article.sticky_yes')
    - else
      = t('article.sticky_no')
  %td.dates
    - if article.published_at
      %span.published_at
        %abbr{:title => t('article.published_at')}= t('article.published_at_short') + ':'
        = localize article.published_at
    %span.updated_at
      %abbr{:title => t('article.updated_at')}= t('article.updated_at_short') + ':'
      = localize article.updated_at
    %span.created_at
      %abbr{:title => t('article.created_at')}= t('article.created_at_short') + ':'
      = localize article.created_at
  %td.actions
    %a{:href => edit_article_path(article)}= t('article.edit')
    %a{:href => delete_article_path(article)}= t('article.delete')