-# encoding: UTF-8
-#
-# Copyright Alexander E. Fischer <aef@raxys.net>, 2011
-#
-# This file is part of Lilith.
-#
-# Lilith is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# Lilith is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with Lilith.  If not, see <http://www.gnu.org/licenses/>.
.article{:id => article.id}
  %h3
    - if article.sticky?
      %span.type
        = t('article.sticky')
    %a{:href => article_path(article)}
      = article.name.blank? ? t('global.translation_missing') : article.name
  %span.author
    = t('article.by')
    %a{:href => 'http://www.google.com/recaptcha/mailhide/d?k=01NIhYKKhq41PU2LhdP69a4w==&c=tlHieYIbnEw2wBTwENVUqthDMWrjNuB8dnMLtOK7IYQ='} Lilith-Team
  - if article.published?
    %span.published_at
      = localize article.published_at
  - else
    %span.created_at
      = localize article.created_at
  - if full
    = textilize (article.body.blank? ? t('global.translation_missing') : article.body)
  - else
    - if article.abstract.blank?
      = textilize (article.body.blank? ? t('global.translation_missing') : article.body)
    - else
      = textilize article.abstract
      %a.read_full_version{:href => article_path(article)}
        = t('article.read_full_version')
  - if (article.published_at and article.updated_at.delta(article.published_at) > 60) or article.updated_at.delta(article.created_at) > 60
    %span.last_edited
      = t('article.last_edited') + ': ' + localize(article.updated_at)
  .clear
