%h2~ t('article.headline.edit')

- if @article.errors.any?
  %ul
    - @article.errors.each do |message|
      %li
        = message  

- form_for(@article, :url => article_path(@article), :method => 'PUT') do |f|
  %p
    %label{:for => 'name'}~ t('article.title')
    %br
    = f.text_field :name
  %p
    %label{:for => 'abstract'}~ t('article.abstract')
    %br
    = f.text_area :abstract
  %p
    %label{:for => 'body'}~ t('article.body')
    %br
    = f.text_area :body
  = f.submit t('article.edit')