- set_body_id (:articles)
%h2= t('article.heading')

.actions
  = button_to t('article.create'), new_article_path, :method => :get

%table.unpublished
  %caption= t('article.unpublished')
  %thead
    %tr
      %th.name= t('article.name')
      %th.sticky= t('article.sticky')
      %th.dates= t('article.dates')
      %th.actions
  %tbody.sticky
    - @unpublished_sticky_articles.each do |article|
      = render :partial => 'articles/article_for_table', :locals => {:article => article, :alternation_class => cycle('odd', 'even', :name => :unpublished)}
  %tbody.non_sticky
    - if @unpublished_sticky_articles.empty? and @unpublished_non_sticky_articles.empty?
      %tr
        %td{:colspan => 4}= t('article.none_found')
    - else
      - @unpublished_non_sticky_articles.each do |article|
        = render :partial => 'articles/article_for_table', :locals => {:article => article, :alternation_class => cycle('odd', 'even', :name => :unpublished)}

%table.published
  %caption= t('article.published')
  %thead
    %tr
      %th.name= t('article.name')
      %th.sticky= t('article.sticky')
      %th.dates= t('article.dates')
      %th.actions
  %tbody.sticky
    - @published_sticky_articles.each do |article|
      = render :partial => 'articles/article_for_table', :locals => {:article => article, :alternation_class => cycle('odd', 'even', :name => :published)}
  %tbody.non_sticky
    - if @published_sticky_articles.empty? and @published_non_sticky_articles.empty?
      %tr
        %td{:colspan => 4}= t('article.none_found')
    - else
      - @published_non_sticky_articles.each do |article|
        = render :partial => 'articles/article_for_table', :locals => {:article => article, :alternation_class => cycle('odd', 'even', :name => :published)}

