-# encoding: UTF-8
-#
-# Copyright Alexander E. Fischer <aef@raxys.net>, 2011
-#
-# This file is part of Lilith.
-#
-# Lilith is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# Lilith is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with Lilith.  If not, see <http://www.gnu.org/licenses/>.
- set_body_id :imprint
%h1~ t('imprint.heading')

.operator
  %h2~ t('imprint.operator')
  %p
    = t('imprint.operator_text',
      :sub_organization_link => link_to( t('imprint.sub_organization_link'), 'https://fslab.de/'),
      :organization_link     => link_to( t('imprint.organization_link'), 'http://www.hochschule-bonn-rhein-sieg.de/')).html_safe
  %address
    Free Software Lab
    %br
    Hochschule Bonn-Rhein-Sieg
    %br
    Grantham-Allee 20
    %br
    53757 Sankt Augustin (Germany)
  %ul.telephone
    %li
      %span.name Tel:
      %span.country_code +49
      %span.area_code 2241
      %span.local_code 865
      %span.direct_code - 0
    %li
      %span.name Fax:
      %span.country_code +49
      %span.area_code 2241
      %span.local_code 865
      %span.direct_code - 609

  %p
    = t('imprint.contact_person') + ": "
    %a{:href => 'http://www.google.com/recaptcha/mailhide/d?k=01O3WAS6-mQKhrJjNuG3rzVg==&c=zdlvvp6VBpQ8htIwhSUj6o97OX9iJxFtJgXjs3jOrX_MpFG_Qn29N6z5Mnee8umQ'}
      Daniel Meißner

.software
  %h2~ t('imprint.software')
  %p
    = t('imprint.version') + ": " + Lilith::VERSION
    (
    %a{:href => 'http://semver.org/'} Semantic Versioning
    )
  %p
    = t('imprint.software_text',
      :ruby_link    => link_to( t('imprint.ruby_link'), 'http://www.ruby-lang.org/'),
      :rails_link   => link_to( t('imprint.rails_link'), 'http://rubyonrails.org/'),
      :project_link => link_to( t('imprint.project_link'), 'https://fslab.de/redmine/projects/lilith')).html_safe
  %p~ "Copyright #{link_to 'Alexander E. Fischer', 'http://aef.name/'}, 2011".html_safe
  %p~ t('imprint.license_text')
  %p~ t('imprint.warranty_text')
