-# encoding: UTF-8
-#
-# Copyright Alexander E. Fischer <aef@raxys.net>, 2011
-#
-# This file is part of Lilith.
-#
-# Lilith is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# Lilith is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with Lilith.  If not, see <http://www.gnu.org/licenses/>.
.study_unit{:id => study_unit.id}
  %h3
    %a{:id => study_unit.name.gsub(/ /, '+')}~ study_unit.name
  %a{:href => "##{body_id}", :class => 'back_to_top'}~ "⇧ #{t('schedules.back_to_top')}"
  .clear
  %ul.courses
    - study_unit.courses.order('name ASC').each do |course|
      %li
        %h4= course.name
        %ul.groups
          %li
            %label{:for => course.id}
              %span.title
                = t('schedules.group_free')
              %input{:type => :checkbox, :id => course.id, :name => 'c[]', :value => course.id.gsub(/-/, '') }
          - course.groups.order('name ASC').each do |group|
            %li
              %label{:for => group.id}
                %span.title
                  %abbr{:title => "#{t('schedules.group')} #{group.name}"}= group.name
                %input{:type => :checkbox, :id => group.id, :name => 'g[]', :value => group.id.gsub(/-/, '') }
