-# encoding: UTF-8
-#
-# Copyright Alexander E. Fischer <aef@raxys.net>, 2011
-#
-# This file is part of Lilith.
-#
-# Lilith is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# Lilith is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with Lilith.  If not, see <http://www.gnu.org/licenses/>.
- set_body_id :schedules
%h2= t('schedules.schedule_composition')

%form{:action => semester_schedules_path(@semester.token)}
  %h3= t('schedules.navigation')

  .controls
    %p
      %label{:for => 'schedule_id'}= t('schedules.actuality') + ': '
      %select{:id => 'schedule_id', :name => 'schedule_id'}
        %option{:value => 'latest', :selected => 'selected'}= t('schedules.latest')
        = options_for_select @schedules.map{|schedule| [l(schedule.created_at), schedule.id]}
    %p
      %label{:for => 'format'}= t('schedules.format') + ': '
      %select{:id => 'format', :name => 'f'}
        %option{:value => 'ics'} iCalendar
        %option{:value => 'xml'} XML
    = submit_tag t('schedules.generate'), :name => nil

  -# Generate navigation index
  .navigation
    %table
      %tbody
        - @study_units.group_by(&:program).each do |program, study_units|
          %tr
            %td.program= program
            %td.units
              - study_units.each do |study_unit|
                %a{:href => "##{URI.escape(study_unit.name.gsub(/ /, '+'))}"}= study_unit.position

  - content_for(:filter) do # Inserted through JavaScript
    .filters
      %label{:for => 'course_filter'}= t('schedules.filter') + ':'
      %input{:type => 'text', :id => 'course_filter'}
      %img{:src => '/images/spinner.gif', :alt => 'Loading...', :class => 'spinner', :style => 'display: none;'}

  %noscript
    %p= t('global.java_script_features')

  -# Generate sections
  .study_units
    - @study_units.each do |study_unit|
      = render :partial => 'study_unit', :locals => {:study_unit => study_unit}

:javascript
  // Add course filter bar
  $('#schedules .navigation').append("#{escape_javascript yield(:filter)}");

  $(function() {
    // Course selection toggle
    $('#schedules .groups label').click(function() {
      var label = $(this);
      var check_box = label.children('input[type=checkbox]');

      if (check_box.is(':checked')) {
        label.addClass('selected');
      } else {
        label.removeClass('selected');
      }
    });

    // Hide all courses which do not match the given regular expression
    // If all courses are hidden in a study unit, the whole unit becomes hidden
    var course_filter_action = function() {

      var pattern = new RegExp($('#course_filter').val(), 'i');

      $('#schedules .study_unit').each(function() {
        var shown_count = 0;

        $(this).find('.courses > li').each(function() {
          if ($(this).find('h4').text().match(pattern)) {
            $(this).show();
            shown_count += 1;
          } else {
            $(this).hide();
          }
        });

        if (shown_count == 0) {
          $(this).hide();
        } else {
          $(this).show();
        }
      });

      $('#schedules .spinner').hide();
    };

    // Amount of milliseconds for the finish-typing-timeout
    var course_filter_timeout = 500;

    // When a key is released, a timeout for filtering is activated
    $('#schedules #course_filter').keyup(function() {
      course_filter_timer = setTimeout(course_filter_action, course_filter_timeout);
      $('#schedules .spinner').show();
    });

    // When a key is pressed, a running timeout for filtering gets stopped
    $('#schedules #course_filter').keydown(function() {
      clearTimeout(course_filter_timer);
      $('#schedules .spinner').hide();
    });
  });
