- if @schedule.persisted?
  - if @schedule.temporary?
    %h2= t('schedules.temporary_schedule')
  - else
    %h2= t('schedules.permanent_schedule')

  - if current_user
    - form_for(@schedule, :method => :put) do |f|
      %input{:name => 'source_action', :type => 'hidden', :value => params[:source_action] || 'show'}
      %p
        %label{:for => :name}= t('schedules.name') + ':'
        = f.text_field :name
      %p
        %label{:for => :description}= t('schedules.description') + ':'
        = f.text_area :description, :rows => nil, :cols => nil
      %p
        %label{:for => :public}= t('schedules.public') + ':'
        = f.check_box :public

      - if @schedule.temporary?
        = f.submit t('schedules.save'), :name => nil
      - else
        = f.submit t('schedules.update'), :name => nil
- else
  %h2= t('schedules.unsaved_schedule')

%p
  %form
    %label{:for => :ics_url} iCalendar:
    - if @schedule.persisted?
      %input{:id => :ics_url, :type => :text, :readonly => :readonly, :value => schedule_url(:format => :ics, :id => @schedule)}
    - else
      %input{:id => :ics_url, :type => :text, :readonly => :readonly, :value => current_url(:format => :ics, :user_id => nil)}
    %ul
      - if @schedule.persisted? and @schedule.name
        %li
          %a{:href => user_schedule_path(@schedule.user.login, @schedule.name, :format => :ics, :disposition => :inline)} Open
        %li
          %a{:href => user_schedule_path(@schedule.user.login, @schedule.name, :format => :ics, :disposition => :attachment)} Download
      - else
        %li
          %a{:href => current_path(:format => :ics, :disposition => :inline)} Open
        %li
          %a{:href => current_path(:format => :ics, :disposition => :attachment)} Download

%p
  %form
    %label{:for => :xml_url} XML:
    - if @schedule.persisted?
      %input{:id => :xml_url, :type => :text, :readonly => :readonly, :value => schedule_url(:format => :xml, :id => @schedule)}
    - else
      %input{:id => :ics_url, :type => :text, :readonly => :readonly, :value => current_url(:format => :xml, :user_id => nil)}
    %ul
      - if @schedule.persisted? and @schedule.name
        %li
          %a{:href => user_schedule_path(@schedule.user.login, @schedule.name, :format => :xml, :disposition => :inline)} Open
        %li
          %a{:href => user_schedule_path(@schedule.user.login, @schedule.name, :format => :xml, :disposition => :attachment)} Download
      - else
        %li
          %a{:href => current_path(:format => :xml, :disposition => :inline)} Open
        %li
          %a{:href => current_path(:format => :xml, :disposition => :attachment)} Download
          