- set_body_id :schedules
- if @schedule.persisted?
  - if @schedule.temporary?
    %h2= t('schedules.temporary_schedule')
  - else
    %h2= t('schedules.permanent_schedule')

  - if current_user
  
    - if @schedule.temporary?
      %h3= t('schedules.save_schedule') + ':'
    - else
      %h3= t('schedules.rename_schedule') + ':'

    - form_for(@schedule, :method => :put) do |f|
      %input{:name => 'source_action', :type => 'hidden', :value => params[:source_action] || 'show'}
      %p.name
        %label{:for => :name}= t('schedules.name') + ':'
        = f.text_field :name
      %p.description
        %label{:for => :description}= t('schedules.description') + ':'
        = f.text_area :description, :rows => nil, :cols => nil
      %p.public
        %label{:for => :public}= t('schedules.public') + ':'
        = f.check_box :public

      - if @schedule.temporary?
        = f.submit t('schedules.save'), :name => nil
      - else
        = f.submit t('schedules.update'), :name => nil

    .clear

    - if @schedule.permanent?
      .delete_button
        %h3= t('schedules.delete_schedule') + ':'
        %form{:method => 'POST', :action => user_schedule_path(@schedule.user.login, @schedule)}
          %input{:type => 'hidden', :name => '_method', :value => 'delete'}
          %input{:type => 'submit', :value => t('schedules.delete')}
- else
  %h2= t('schedules.unsaved_schedule')

.clear

%h3= t('schedules.ical') + ':'
%p
  %ul.actions
    - if @schedule.persisted? and @schedule.name
      %li
        %a{:href => user_schedule_path(@schedule.user.login, @schedule.name, :format => :ics, :disposition => :inline)} Open
      %li
        %a{:href => user_schedule_path(@schedule.user.login, @schedule.name, :format => :ics, :disposition => :attachment)} Download
    - else
      %li
        %a{:href => current_path(:format => :ics, :disposition => :inline)} Open
      %li
        %a{:href => current_path(:format => :ics, :disposition => :attachment)} Download
  %form
    %label{:for => :ics_url}= t('schedules.permalink') + ':'
    - if @schedule.persisted?
      %input{:id => :ics_url, :type => :text, :readonly => :readonly, :value => schedule_url(:format => :ics, :id => @schedule)}
    - else
      %input{:id => :ics_url, :type => :text, :readonly => :readonly, :value => current_url(:format => :ics, :user_id => nil)}

%p
  %h3= t('schedules.xml') + ':'
  %ul.actions
    - if @schedule.persisted? and @schedule.name
      %li
        %a{:href => user_schedule_path(@schedule.user.login, @schedule.name, :format => :xml, :disposition => :inline)} Open
      %li
        %a{:href => user_schedule_path(@schedule.user.login, @schedule.name, :format => :xml, :disposition => :attachment)} Download
    - else
      %li
        %a{:href => current_path(:format => :xml, :disposition => :inline)} Open
      %li
        %a{:href => current_path(:format => :xml, :disposition => :attachment)} Download
  %form
    %label{:for => :xml_url}= t('schedules.permalink') + ':'
    - if @schedule.persisted?
      %input{:id => :xml_url, :type => :text, :readonly => :readonly, :value => schedule_url(:format => :xml, :id => @schedule)}
    - else
      %input{:id => :xml_url, :type => :text, :readonly => :readonly, :value => current_url(:format => :xml, :user_id => nil)}
