%h1
  = "#{@plan.study_unit.name} on #{@plan.created_at}"
  
%h2 Courses
%ul.courses
  - @plan.courses.order('name ASC').each do |course|
    %li
      = course.name
      %ul.groups
        - course.groups.order('name ASC').each do |group|
          %li
            Group 
            = group.name