-#Copyright Alexander E. Fischer <aef@raxys.net>, 2011
-#
-# This file is part of Lilith.
-#
-# Lilith is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# Lilith is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with Lilith.  If not, see <http://www.gnu.org/licenses/>.
!!! XML
!!! 5

%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => I18n.locale}
  %head
    %meta{:charset => 'utf-8'}
    %title Lilith
    = stylesheet_link_tag('application')
  %body{:id => @body_id}
    - if request.headers['User-Agent'].include?('MSIE')
      #ie_warning
        - browser_urls = ['http://mozilla.com/', 'http://www.google.com/chrome', 'http://www.opera.com/']
        = (t('global.ie_warning', :browser_link => link_to(t('global.ie_warning_browser_link'), browser_urls.shuffle.first))).html_safe
    #container
      #header
        %a{:href => root_path}
          %h1 Lilith
        plan your schedule, really
        #special_version_sign
          - if Lilith::VERSION.include?('alpha')
            %img{:src => '/images/star_alpha.png', :alt => 'α-test version'}
          - elsif Lilith::VERSION.include?('beta')
            %img{:src => '/images/star_beta.png', :alt => 'β-test version'}
      #menu
        %form{:action => root_path}
          %label{:for => :semester_id}~ t('menu.semester') + ': '
          %select{:id => :semester_id, :name => :semester_id}
            = options_for_select Semester.all.map{|semester| [semester.name, semester.id]}, @semester.try(:id)
          %input{:type => :submit, :value => t('menu.submit')}
        %span.language
          - I18n.available_locales.each do |locale|
            %a{:href => url_for(:locale => locale)}~ t('meta.name', :locale => locale)
      #main
        = yield
      #footer
        Version:
        %a{:href => 'http://semver.org/'}
          = Lilith::VERSION
        –
        = link_to t('imprint.name'), imprint_path
        –
        © Alexander E. Fischer, 2011