-# encoding: UTF-8
!!! XML
!!! 5
/
  Copyright Alexander E. Fischer <aef@raxys.net>, 2011

  This file is part of Lilith.

  Lilith is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Lilith is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Lilith.  If not, see <http://www.gnu.org/licenses/>.

%html{:xmlns => 'http://www.w3.org/1999/xhtml', :lang => I18n.locale, 'xml:lang' => I18n.locale}
  %head
    %meta{:charset => 'utf-8'}
    %title Lilith
    = auto_discovery_link_tag(:atom, articles_path(:format => :atom), :title => "#{Rails.configuration.application_name} - #{t('article.all')}")
    = auto_discovery_link_tag(:atom, latest_articles_path(:format => :atom), :title => "#{Rails.configuration.application_name} - #{t('article.latest')}")
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
  %body{:id => body_id}
    - if request.headers['User-Agent'].include?('MSIE')
      #ie_warning
        - browser_urls = ['http://mozilla.com/', 'http://www.google.com/chrome', 'http://www.opera.com/']
        = (t('global.ie_warning', :browser_link => link_to(t('global.ie_warning_browser_link'), browser_urls.shuffle.first))).html_safe
    - if flash[:notify]
      #notification
        = flash[:notify]
    #container
      #header
        %h1
          %a{:href => root_path}~ Rails.configuration.application_name
          / Vater drückte sie stets fester als die brave Stiefschwester.
        %span.tagline{:lang => 'en', 'xml:lang' => 'en'}= Rails.configuration.application_slogan
        #special_version_sign
          - if Lilith::VERSION.include?('alpha')
            %img{:src => asset_path('star_alpha.png'), :alt => 'αlpha'}
          - elsif Lilith::VERSION.include?('beta') or Lilith::VERSION.starts_with?('0.')
            %img{:src => asset_path('star_beta.png'), :alt => 'βeta'}
      #menubar
        %ul.sections.menu
          %li
            = t('global.main_menu')
            = render_menu
            -#%ul
              %li
                %a{:href => dashboard_path}= t('dashboard.menu_name')
              %li
                %a{:href => schedules_path}= t('schedules.menu_name')
          %span{:class => :current_user}
            - if current_user
              = t('session.logged_in_as') + ':'
              %abbr{:title => current_user.name}= current_user.login
          %li#language
            = t('global.language_menu')
            %ul
              - I18n.available_locales.each do |locale|
                %li
                  %a{:href => url_for(params.merge(:locale => locale)), :lang => locale, 'xml:lang' => locale}~ t('meta.name', :locale => locale)
          %li#login
            - if current_user
              %a{:href => delete_session_path}= t('session.delete.menu_name')
            - else
              %a{:href => new_session_path}= t('session.new.menu_name')
      #main
        = yield
      #footer
        Version:
        %a{:href => 'http://semver.org/'}
          = Lilith::VERSION
        –
        = link_to t('imprint.name'), imprint_path
        –
        © Alexander E. Fischer, 2011
