-#Copyright Alexander E. Fischer <aef@raxys.net>, 2011
-#
-# This file is part of Lilith.
-#
-# Lilith is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# Lilith is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with Lilith.  If not, see <http://www.gnu.org/licenses/>.
!!! XML
!!! 5

%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en'}
  %head
    %title Lilith
    = stylesheet_link_tag('application')
  %body{:id => @body_id}
    - if request.headers['User-Agent'].include?('MSIE')
      #ie_warning
        You are using a browser that sucks. Go and install a
        %a{:href => 'http://mozilla.com/'} real
        browser.
    #container
      #header
        %a{:href => root_path, :name => 'top'}
          %h1 Lilith
        plan your schedule, really
      #menu
        %form{:action => root_path}
          %label{:for => :semester_id}~ t('menu.semester') + ': '
          %select{:name => :semester_id}
            = options_for_select Semester.all.map{|semester| [semester.name, semester.id]}, @semester.try(:id)
          %input{:type => :submit, :value => t('menu.submit')}
        %span.language
          - I18n.available_locales.each do |locale|
            %a{:href => url_for(:locale => locale)}~ t('meta.name', :locale => locale)
      #main
        = yield
      #footer
        Version:
        %a{:href => 'http://semver.org/'}
          = Lilith::VERSION
        –
        = link_to t('imprint.name'), imprint_path
        –
        © Alexander E. Fischer, 2011